body{
  margin: 0;
  padding: 0;
  background: white;
}

#heading{
  font-size: 38px;
  background: #181818;
  color:grey;
}

#heading a:link{
  color:grey;
  font-size: 32px;
}
.sub-heading{
  font-size: 32px;
}

.container{
  display: flex;
  flex-direction: column;
}

.container > * {
  margin-bottom: 10px;
  padding: 15px;
}

ol{
  display: flex;
  flex-direction: column;
}

ol > li{
  margin-bottom: 2px;
  padding: 10px;
  margin-left: 20px;
  font-size: 20px;
}

li a:link{
  color: #202020;
}
