.body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
}
#event{
  border:2px solid #DADDD8;
  padding: 20px;
  border-radius: 10px;
  transform: translateY(-50px);
}
#event tr td{
  padding:15px;
  text-align: center;
  border:1px solid #DADDD8;
  background: #DADDD8;
}
#event tr td:hover{
  background:#FCF0CC;
  color:black;
  border:1px solid #DADDD8;
  box-sizing: border-box;
}
#event tr th{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
.table-container{
  margin-top: 100px;
  margin-left: 240px;
}
body{
  background:#475841;
}
h1{
  margin-left: 650px;
  margin-top: 80px;
  font-size: 50px;
}
