body{
  margin: 0;
  padding: 0;
}

.container{
  display:flex;
  flex-direction: column;
}
.container > * {
  padding: 15px;
}

.title{
  font-weight: 600;
  font-size: 32px;

}

.content{
  margin-bottom: 20px;
  font-size:20px;

}

#main-heading{
  font-size: 38px;
  background: #181818;
  color:grey;
  margin: 0;
  margin-bottom: 30px;
}

#main-heading a:link{
  color:grey;
  font-size: 32px;
}

a:link{
   color:grey;
   font-size: 20px;
}

a:visited{
  color: grey;
}
