body{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.main-container{
  min-height:100vh;
  width:100vw;
  background: #475841;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content{
  padding:20px;
  margin-top: 35px;
  display:flex;
  justify-content: center;
  align-items: center;
  width:80%;
  min-height:80%;
  background:#DADDD8;
  border-radius: 20px;
  box-shadow: 0 0 25px 5px rgba(0,0,0,0.4);
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height:80%;
  width:80%;
  /*border:1px solid green;*/
}

.sub-container{
  display: flex;
  justify-content: space-between;
  width:70%;
  /*border:1px solid green;*/
  font-size: 22px;
  margin-left: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.sub-container label{
  flex:1;
  margin-right: 5px;
}
.sub-container input{
  flex:3;
  outline:none;
  border:1px solid #475841;
  border-radius: 7px;
  text-align: center;
}
form input[type="text"]:focus{
  border:1.5px solid #475841;
}

.sub-container select{
  flex:3;
}

#next,#submit{
  justify-content: center;

}
button{
    width:180px;
    height: 60px;
    background: #475841;
    color:white;
    font-size: 25px;
    letter-spacing: 2px;
    border-radius: 10px;
    transition: all 0.2s ease;

}
button:hover{
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0px 2px 5px 1px black;
  backface-visibility: hidden;
}
#heading{
  display: flex;
  align-self: center;
  justify-content: flex-start;
  transform: translateY(-20px);
}
#heading > h3{
  align-self: center;
  margin-left: 50px;
  font-weight: 400;
  text-decoration: underline;
}

.received-data{
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  overflow: hidden;
}

.middle{
  justify-content: center;
}
.middle h3{
  transform: translateX(40px);
}

h3{
  color:#475841;
}
